/* section {
  width: 50%;
  float: left;
  height: 100vh;
} */
main {
  margin-top: 100px;
}

#asset-focus {
  background-color: lawngreen;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#asset-list {
  background-color: goldenrod;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#asset-list > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h2 {
  margin: 30px;
}

main li {
  padding: 20px;
  margin: 10px;
  background-color: beige;
  width: 80%;
}

ul > li > p {
  display: flex;
  justify-content: space-between;
}
/* @media (max-width: 700px) {
  section {
    width: 100%;
    height: unset;
  }
}
@media (max-width: 700px) {
  nav {
    left: 100px;
  }
  li {
    margin: 20px;
  }
} */
